<body class="gray-bg">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <img alt="image" style="width:60%" src="../../../assets/img/landing/Press.png">
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="alert alert-danger" *ngIf="keyMissing">
      <strong>The password reset key is missing.</strong>
    </div>
    <div class="alert alert-danger" *ngIf="error">
      <p>Your password couldn't be reset. Remember a password request is only valid for 24 hours.</p>
    </div>
    <p class="alert alert-success" *ngIf="success">
      <span>
        <strong>Your password has been reset.</strong>
      </span>
    </p>
    <p *ngIf="success">
      <a class="btn btn-sm btn-white btn-block" routerLink="/login">
        <small>Login</small>
      </a>
    </p>
    <div class="alert alert-danger" *ngIf="doNotMatch">
      The password and its confirmation do not match!
    </div>
    <div *ngIf="!keyMissing">
      <form *ngIf="!success" class="margintop-10" name="passwordForm" novalidate #passwordForm="ngForm">

        <div class="form-group">
          <input type="password" class="form-control" name="passwordInput" appPasswordValidate #passwordInput="ngModel" placeholder="New Password"
            [(ngModel)]="resetAccount.password" required />
          <app-error-messages [control]="passwordInput"></app-error-messages>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="confirmPasswordInput" #confirmPasswordInput="ngModel" placeholder="Confirm Password"
            [(ngModel)]="confirmPassword" appEqualvalidate="passwordInput" required appPasswordValidate />
          <app-error-messages [control]="confirmPasswordInput"></app-error-messages>
        </div>

        <button type="submit" (click)="resetPassword()" [disabled]="passwordForm.form.invalid" class="btn btn-primary block full-width marginbottom-10">Reset Passowrd</button>
        <div class="clearfix">&nbsp;</div>
        <a *ngIf="error" class="btn btn-w-m btn-info btn-block btn-block" routerLink="/login">
          <small>Back to Login</small>
        </a>
      </form>
    </div>
    <p class="m-t">
      <small>
        <strong>Copyright</strong> The Sunflowerlab &copy; {{year}}</small>
    </p>
  </div>
</body>