<body class="gray-bg">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
      <div>
        <img alt="image" style="width:60%" src="../../../assets/img/landing/Press.png">
      </div>
      <div class="clearfix">&nbsp;</div>
      <form name="form" #forgotPasswordForm="ngForm" novalidate class="margintop-10">
        <div class="form-group">
          <input type="text" #emailInput="ngModel" class="form-control " name="email" [(ngModel)]="email" appEmailValidate required
            placeholder="Email" />
          <app-error-messages [control]="emailInput"></app-error-messages>
        </div>
        <div class="form-group">
          <button [disabled]="forgotPasswordForm.form.invalid" (click)="forgotPassword()" type="submit" class="btn btn-primary block full-width m-b">Reset</button>
          <a class="btn btn-w-m btn-info btn-block btn-block" [routerLink]="['/login']">
            <small>Back to Login</small>
          </a>
        </div>
      </form>
    </div>
    <p class="m-t">
      <small>
        <strong>Copyright</strong> The Sunflowerlab &copy; {{year}}</small>
    </p>
  </div>
</body>